.cart-header h2 {
  background-image: linear-gradient(to bottom right, #2563eb, #4f46e5);  /* Gradient */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  
}

.cart-items-container {
    overflow-y: auto;
    flex-grow: 1;
    margin: 1rem 0;
}

.cart-items-container::-webkit-scrollbar {
  width: 8px;
}

.cart-items-container::-webkit-scrollbar-track {
  background:#f0f0f0;
  border-radius: 10px;
}

.cart-items-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #2563eb, #4f46e5);
  border-radius: 10px;
}

.cart-items-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom right, #1d4ed8, #4338ca);
}

.quantity-controller {
    background: linear-gradient(to bottom right, #2563eb, #4f46e5);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.remove-button {
    background: linear-gradient(to right, #BD3F32, #CB356B);
    border-radius: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;

}

.close-modal {
   background: linear-gradient(to bottom right, #2563eb, #4f46e5);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
